<div class="space-y-6 max-w-4xl mx-auto">
  <div class="text-sm text-gray-600">
    Utente attivo:
    <strong *ngIf="userService.current$ | async as user; else noUser">{{ user.name }}</strong>
    <ng-template #noUser><em>nessuno</em></ng-template>
  </div>

  <ng-container *ngIf="userService.current$ | async as user; else noList">
    <app-item-form (add)="addItem($event)"></app-item-form>
    <app-item-list (select)="selectItem($event)" [items]="(shoppingService.allItems$ | async) ?? []"></app-item-list>
  </ng-container>
  <ng-template #noList><h3 class="font-bold text-lg mb-2">Seleziona un utente per iniziare</h3></ng-template>
  <app-summary [items]="(shoppingService.allItems$ | async) ?? []"></app-summary>
  <app-toast-message></app-toast-message>
</div>